---
// import ReactApp from "../components/ReactApp";
import Script from "../components/Script.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sports">
  <main id="main" class="grid justify-center p-12">
    <Script />
    <!-- <ReactApp client:load /> -->
  </main>
</Layout>
