---

---

<!-- TODAY -->
<section class="flex flex-col">
  <!-- DAY / DATE -->
  <h2 class="pb-4 pl-1 text-xl">Today, Day, Month Date, Year</h2>
  <!-- CARD -->
  <div class="flex flex-col divide-y rounded-3xl border p-2">
    <!-- LEAGUE TABLE -->
    <div>
      <!-- LEAGUE ROW -->
      <div class="flex items-center pb-2 pt-1">
        <!-- FLAG / LOGO COLUMN -->
        <div class="w-20 text-center">flag / logo</div>
        <!-- COUNTRY & LEAGUE COLUMN -->
        <div class="flex flex-col pl-4">
          <div>Country</div>
          <div>League</div>
        </div>
      </div>
      <!-- MATCH ROW -->
      <div class="flex items-center divide-x py-1">
        <!-- TIME COLUMN -->
        <div class="mr-4 w-20 text-center">Time</div>
        <!-- HOME & AWAY COLUMN -->
        <div class="flex flex-col pl-2 pr-2">
          <!-- HOME -->
          <div class="flex gap-4 px-2">
            <div>logo</div>
            <div>team</div>
            <div>form</div>
          </div>
          <!-- AWAY -->
          <div class="flex gap-4 px-2">
            <div>logo</div>
            <div>team</div>
            <div>form</div>
          </div>
        </div>
        <!-- WINNER & RECORD COLUMN -->
        <div class="flex w-20 flex-col px-2 text-center">
          <div>winner</div>
          <div>record</div>
        </div>
        <!-- ODDS COLUMN -->
        <div class="block w-12 py-3 text-center">
          <div>odds</div>
        </div>
      </div>
    </div>
  </div>
</section>
